[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_USE_NETLIFY_EDGE_SSR = "true"

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cache-Control = "public, s-maxage=604800, stale-while-revalidate=86400"

[functions]
  node_version = "20"
  external_node_modules = ["axios", "cheerio"]
